.nav-color{
    color: beige;
}
.carousel-inner img{
    object-fit: cover;
    height: 300px;
}
.badge-fuego{
    background-color: orangered;
}
.badge-agua{
    background-color: cornflowerblue;
}
.badge-veneno{
    background-color: green;
}
.badge-planta{
    background-color: violet;
}
.badge-psiquico{
    background-color: palevioletred;
}